@darkColor: #000000;
@middleColor: #999999;
@rowHeight: 40px;

.day-view {
    display: block;
    padding: 0;
    min-height: 100%;
}

.day-view__hour {
    display: block;
    height: @rowHeight;
    border-bottom: 1px solid @middleColor;
}

.hour-row__label {
    color: @middleColor;
    padding-left: 10px;
    padding-right: 10px;
    line-height: @rowHeight;
    user-select: none;
    cursor: default;
}